/* Colors used: 
Primary Color (Snow): #FFFAFA;
Secondary Color (Light Steel Blue): #B0C4DE;
*/
* {
    box-sizing: border-box;
}

body {
    background-color: #ebf2fa;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    color: midnigtblue;
}

h1,
h2,
h3,
h4 {
    line-height: 1.4;
}

h1 {
    font-size: 2.75em;
    font-weight: 700;
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

img {
    width: 100%;
}

a,
a:visited {
    color: midnightblue;
    text-decoration: none;
    /* No underlining */
}

a:hover,
a:focus {
    color: #1107e1;
    text-decoration: underline;
    /* Underlining when hovering over a link */
}

.button,
.button:visited {
    display: inline-block;
    /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #064789;
    color: #ffffff;
    /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #305f99;
    /* width of the border, type, color */
    transition: 0.2s opacity;
}

.button:hover {
    opacity: 0.8;
    /* Reduces the opacity of the button to 80% */
    text-decoration: none;
}

.button.contact {
    background-color: transparent;
    color: #427aa1;
    text-transform: uppercase;
    border: 2px solid #064789;
}

.button.contact:hover {
    background-color: #427aa1;
    color: #ffffff;
}

header {
    background-color: #064789;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-bottom: 3px solid #427AA1;
}

.container {
    max-width: 1200px;
}

/* Layout styling */
.container {
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    margin: 25px 0;
    /* 25px top and bottom, 0 left and right */
}

#hero {
    text-align: center;
    /* Centers text */
}

.logo {
    max-width: 250px;
}

nav>ul {
    list-style-type: none;
    padding: 0;
}

nav>ul>li {
    display: inline-block;
}

nav>ul>li>a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #427aa1;
}

#hero {
    background-color: #427aa1;
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
}

#work {
    background-color: bluevilet3;
}

footer {
    text-align: center;
}

.socialmedia {
    width: 100px;
    display: inline-block;
}


.socialmedia svg {
    width: 100px;
}

#aboutme {
    text-align: center;
}

#endingmessage {
    text-align: center;
}

.projectimgs {
    max-width: 250px;
    padding: 0 15px;
}

.final {
    text-align: center;
}